<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongodb example</title>
</head>
<body>
    <h1>This is the second page</h1>
    <p>Here is some text for the second page. This is pretty awesome!</p>

    <a href="/">Go to the home page!</a>

    <a href="/third">Go to the third page</a>
</body>
</html>
