<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongodb Example</title>
</head>
<body>
    <h1>This is the third page</h1>
    <p>This is some text for the third page of my mongodb example.</p>
    <a href="/second">Go to second page</a>
    <a href="/">Go to Home page</a>
</body>
</html>